 <div class="container">
 <div class="row">
 <div class="col-md-4">
 </div>
 <div class="col-md-8">
 <form action="#" id="sky-form2" class="sky-form" novalidate="novalidate">
  <header>Login form</header>

  <fieldset>                  
      <section>
          <div class="row">
              <label class="label col col-2">E-mail</label>
              <div class="col col-8">
                  <label class="input">
                      <i class="icon-append fa fa-user"></i>
                      <input type="email" name="email">
                  </label>
              </div>
          </div>
      </section>
      
      <section>
          <div class="row">
              <label class="label col col-2">Password</label>
              <div class="col col-8">
                  <label class="input">
                      <i class="icon-append fa fa-lock"></i>
                      <input type="password" name="password">
                  </label>
                  <div class="note"><a href="#sky-form2" class="modal-opener">Forgot password?</a></div>
              </div>
          </div>
      </section>
      
      <section>
          <div class="row">
              <div class="col col-2"></div>
              <div class="col col-8">
                  <label class="checkbox">
                  <input type="checkbox" name="remember" checked="">
                  <i></i>Keep me logged in</label>
              </div>
          </div>
      </section>
  </fieldset>
  <footer>
      <button type="submit" class="btn-u">Log in</button>
      <a href="#" class="btn-u btn-u-default">Register</a>
  </footer>
  </form>
 </div><!--结束8列注册框-->
</div>