<div class="container content-md">
<div class="row">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td><a ng-href="user.jsp?#/users/{{user.id}}/view">{{user.name}}</a></td>
            <td><img class="hover-effect" alt="" ng-src="common/userimg/{{user.picture}}" /></td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
</table>                
</div>                            
</div>