<div class="container">
<div class="row">
  增加
 <div class="col-md-12">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="scence in scences">
            <td>{{scence.id}}</td>
            <td>{{scence.name}}</td>
            <td>{{scence.address}}</td>
            <td>Picture Eidt Delete</td>
        </tr>
    </tbody>
</table>
</div>                
</div>                            
</div>