<div class="container content-md">
    <div class="row">
        <div class="col-md-4 news-v3" ng-repeat="scence in scences">
            <img class="img-responsive full-width" ng-src="scence/images/{{scence.images[0].name}}" alt="test">
            <div class="news-v3-in-sm bg-color-light">
                <ul class="list-inline posted-info-sm">
                    <li>By: <a href="#">Alex</a></li>
                    <li>In: <a href="#">Design</a></li>
                    <li>Posted: {{scence.regdate | date : 'yyyy-MM-dd'}}</li>
                </ul>
                <h2>
                <a ui-sref = "viewScence({id:scence.id})">{{scence.name}}</a></h2>
                <p>{{scence.info | limitTo : 20 }}</p>
                <ul class="post-shares">
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-speech"></i>
                            <span>26</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-share"></i>
                            <span>98</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="rounded-x icon-heart"></i>
                            <span>30</span>
                        </a>
                    </li>
                </ul>
            </div>                
        </div>                            
 </div>

  <nav> 
  <div class="text-center">
  <ul class="pagination pagination-lg">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li class="active" ><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>

  <ul class="pager">
    <li class="previous {{has_less()}}" ng-click="show_previous()">
    <span><a>&larr; previous</a></span></li>
    <li><span>{{scences.page.number}}/{{scences.page.totalPages}}
            = {{scences.page.totalElements}} Elements</span></li>
    <li class="next {{has_more()}}" ng-click="show_next()"><span><a>next &rarr;</a></span></li>
</ul>

</nav>
</div><!--stop page-->

</div>