<!--=== Footer Version 1 ===-->
<div class = "footer-v1">
<div class = "footer">
   <div class="row"> 
    <!-- About --> 
    <div class="col-md-3 md-margin-bottom-40"> 
     <a href="index.html"> 
     <img id="logo-footer" class="footer-logo" src="common/img/logo.png" alt="" />
     </a> 
     <p></p>
    </div> 
    <!--/col-md-3--> 
    <!-- End About --> 
    <!-- Latest  --> 
    <div class="col-md-3 md-margin-bottom-40"> 
      <div class="headline"> 
       <h2>本站相关</h2> 
      </div> 
      <ul class="list-unstyled latest-list"> 
       <li><a href="http://www.cnblogs.com/mingziday/category/712097.html">本站介绍</a></li>
       <li><a href="https://github.com/mingziday/Traveller_Spring-Data-Rest_Angularjs">GitHub</a><br /> </li>
       <li> <a href="thanks.jsp">开源模块介绍</a></li>  
       <li> <a href="#">使用说明</a></li> 
      </ul> 
    </div> 
    <!--/col-md-3--> 
    <!-- End Latest --> 
    <!-- Link List --> 
    <div class="col-md-3 md-margin-bottom-40"> 
     <div class="headline"> 
      <h2>相关连接</h2> 
     </div> 
     <ul class="list-unstyled latest-list"> 
      <li><a href="www.ngnice.com">Angularjs</a></li> 
      <li><a href="www.bootcss.com/">BootStrap</a></li> 
      <li><a href="www.spring.io">Spring</a></li> 
      <li><a href="#">Hibernate</a></li> 
      <li><a href="#">MySQL</a></li> 
     </ul> 
    </div> 
    <!--/col-md-3--> 
    <!-- End Link List --> 
    <!-- Address --> 
    <div class="col-md-3 map-img md-margin-bottom-40"> 
     <div class="headline"> 
      <h2>作者相关</h2> 
     </div>
     <ul class="list-unstyled latest-list"> 
     <li><a href="">作者简历</a></li>
     <li><a href="http://www.cnblogs.com/mingziday">我的博客</a></li>
     <li>Email: <a href="mailto:info@anybiz.com" class="">mingziday@126.com</a></li>
     </ul>
     
    </div> 
    <!--/col-md-3--> 
    <!-- End Address --> 
   </div>   <!--=== End Footer row ===--> 
 
</div><!--end fooder container--> 



