<!--=== Footer Version 1 ===-->
<div class = "footer-v1">
<div class = "footer">
   <div class="row"> 
    <!-- About --> 
    <div class="col-md-3 md-margin-bottom-40"> 
     <a href="index.html"> 
     <img id="logo-footer" class="footer-logo" src="common/img/logo.png" alt="" />
     </a> 
     <p></p>
    </div> 
    <!--/col-md-3--> 
    <!-- End About --> 
    <!-- Latest  --> 
    <div class="col-md-3 md-margin-bottom-40"> 
      <div class="headline"> 
       <h2>本站技术</h2> 
      </div> 
      <ul class="list-unstyled latest-list"> 
       <li> <a href="#">本站介绍</a></li>
       <li> <a href="#">技术概览</a></li>
       <li> <a href="thanks.jsp">开源模块介绍</a></li>  
       <li> <a href="#">使用说明</a></li> 
       <li> <a href="#">协议条款</a></li> 
      </ul> 
    </div> 
    <!--/col-md-3--> 
    <!-- End Latest --> 
    <!-- Link List --> 
    <div class="col-md-3 md-margin-bottom-40"> 
     <div class="headline"> 
      <h2>相关连接</h2> 
     </div> 
     <ul class="list-unstyled latest-list"> 
      <li><a href="www.ngnice.com">Angularjs</a></li> 
      <li><a href="http://www.bootcss.com/">BootStrap</a></li> 
      <li><a href="https://spring.io">Spring</a></li> 
      <li><a href="#">Hibernate</a></li> 
      <li><a href="#">MySQL</a></li> 
     </ul> 
    </div> 
    <!--/col-md-3--> 
    <!-- End Link List --> 
    <!-- Address --> 
    <div class="col-md-3 map-img md-margin-bottom-40"> 
     <div class="headline"> 
      <h2>联系作者</h2> 
     </div>
     <ul class="list-unstyled latest-list"> 
     <li>Author：<a href="">作者介绍</a></li>
     <li>Blog1: <a href="">travelfish.blogbus.com </a></li>
     <li>Blog2: <a href="">www.cnblogs.com/mingziday</a></li>
     <li>Email: <a href="mailto:info@anybiz.com" class="">mingziday@126.com</a></li>
     <li>GitHub: <a href="">GitHub</a><br /> </li>
     </ul>
     
    </div> 
    <!--/col-md-3--> 
    <!-- End Address --> 
   </div>   <!--=== End Footer row ===--> 
 
</div><!--end fooder container--> 



