/*global*/
a {
   color: #72c02c;
   text-decoration: none;  
}

a,
a:focus, 
a:hover, 
a:active {
   outline: 0 !important;
}
a:focus {
  text-decoration: none;
}
a:hover {
   color: #72c02c;
   text-decoration: underline;
}
/*margin*/
.margin-bottom-5, 
.margin-bottom-10, 
.margin-bottom-15, 
.margin-bottom-20,
.margin-bottom-25, 
.margin-bottom-30, 
.margin-bottom-35, 
.margin-bottom-40, 
.margin-bottom-45, 
.margin-bottom-50, 
.margin-bottom-55, 
.margin-bottom-60,
.margin-bottom-100 { 
   clear:both;
}
.margin-bottom-5  { margin-bottom:5px;}
.margin-bottom-10 { margin-bottom:10px;} 
.margin-bottom-15 { margin-bottom:15px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-25 { margin-bottom:25px;}
.margin-bottom-30 { margin-bottom:30px;}
.margin-bottom-35 { margin-bottom:35px;}
.margin-bottom-40 { margin-bottom:40px;}
.margin-bottom-45 { margin-bottom:45px;}
.margin-bottom-50 { margin-bottom:50px;}
.margin-bottom-55 { margin-bottom:55px;}
.margin-bottom-60 { margin-bottom:60px;}
.margin-bottom-100 { margin-bottom:100px;}

@media (max-width: 768px) {
  .sm-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .sm-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .sm-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .sm-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .sm-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .sm-margin-bottom-60 {
    margin-bottom: 60px;
  }
}

@media (max-width: 992px) {
  .md-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .md-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .md-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .md-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .md-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .md-margin-bottom-60 {
    margin-bottom: 60px;
  }
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.pull-right {
    float: right;
}

.color-green {
    color: #72c02c;
}
.overflow-h {
    overflow: hidden;
}
.bg-color-light {
    background-color: #f7f7f7 !important;
}
.content-sm {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*-----------header----------------*/
.header {
    z-index: 99;
    background: #fff;

}
/*Easy Block (used for image badges)
------------------------------------*/
.easy-block-v1 {
  position: relative;
}
.easy-block-v1 img {
  width: 100%;
}
.easy-block-v1 .overflow-h h3 {
  width: 60%; 
  float: left;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
}
.easy-block-v1 .easy-block-v1-badge {
  left: 0px;
  top: 10px;
  z-index: 1;
  color: #fff;
  padding: 4px 10px;
  position: absolute;
}
/*High-Rated
------------------------------------*/
.high-rated .carousel-indicators {
	top: 10px;
	left: 65%;
	text-align: right;
}

.high-rated .carousel-indicators .active {
	background: #555;
}

.high-rated .carousel-indicators li {
	border-color: #555;
}

.high-rated .carousel-inner > .item {
	margin: 0;
}

.high-rated .star-vote {
	float: right;
	margin-top: 8px;
}

.high-rated .star-vote ul {
	margin-bottom: 0;
}

.high-rated .star-vote li {
	padding: 0;
}
/*Block Headline*/
.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}

.headline h2 {
  font-size: 22px;
}

.headline h2, 
.headline h3, 
.headline h4 {
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid #72c02c;
}

.headline-md {
  margin-bottom: 15px;
}

.headline-md h2 {
  font-size: 21px;
}

/*Heading Options*/
.heading {
  text-align: center;
}

.heading h2 {
  padding: 0 12px;
  position: relative;
  display: inline-block;
  line-height: 34px !important; /*For Tagline Boxes*/
}

.heading h2:before, 
.heading h2:after {
  content: ' ';
  width: 70%;  
  position: absolute;
  border-width: 1px;
  border-color: #bbb;
}

.heading h2:before {
  right: 100%;
}

.heading h2:after {
  left: 100%;
}

@media (max-width: 768px) {
  .heading h2:before, 
  .heading h2:after {
    width: 20%;  
  }
}
/*Headline v1*/
.heading-v1 h2:before,
.heading-v1 h2:after {
  top: 15px;
  height: 6px;
  border-top-style: solid;
  border-bottom-style: solid;
}

/*Headline v2*/
.heading-v2 h2:before,
.heading-v2 h2:after {
  top: 15px;
  height: 6px;
  border-top-style: dashed;
  border-bottom-style: dashed;
}

/*Headline v3*/
.heading-v3 h2:before,
.heading-v3 h2:after {
  top: 15px;
  height: 6px;
  border-top-style: dotted;
  border-bottom-style: dotted;
}

/*Headline v4*/
.heading-v4 h2:before,
.heading-v4 h2:after {
  top: 17px;
  border-bottom-style: solid;
}

/*Headline v5*/
.heading-v5 h2:before,
.heading-v5 h2:after {
  top: 17px;
  border-bottom-style: dashed;
}

/*Headline v6*/
.heading-v6 h2:before,
.heading-v6 h2:after {
  top: 17px;
  border-bottom-style: dotted;
}

/*Heading Titles v1*/
.title-v1 {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}
.rgba-red { background-color: rgba(231,76,60,0.8);}
.rgba-blue{ background-color: rgba(52,152,219,0.8);}
.rgba-aqua { background-color: rgba(39,215,231,0.8);}
.rgba-yellow { background-color: rgba(241,196,15,0.8);}
.rgba-default { background-color: rgba(114,192,44,0.8);}
.rgba-purple { background-color: rgba(155,107,204,0.8);}

/*Testimonials v6
------------------------------------*/
.testimonials-v6.testimonials-wrap {
  padding-left: 5;
  padding-right: 5px;
}

.testimonials-v6 .testimonials-info {
  padding: 20px;
  background: #fff;
  border-bottom: solid 3px #eee;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;  
}

.testimonials-v6 .testimonials-info:hover {
    border-color: #72c02c;
}

.testimonials-v6 .testimonials-info img {
  float: left;
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.testimonials-v6 .testimonials-desc {
  overflow: hidden;
}

.testimonials-v6 .testimonials-desc p {
  margin-bottom: 15px;
}

.testimonials-v6 .testimonials-desc strong,
.testimonials-v6 .testimonials-desc span {
  color: #555;
  display: block;
}

@media (max-width: 768px) {
  .testimonials-v6 .testimonials-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}
.rounded-x {
    border-radius: 50% !important;
}

.bg-grey {
    background: #f7f7f7;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}
.bg-color-white {
    color: #555;
}
/*Purple Top Bordered Funny Box**/
.funny-boxes-top-purple {
  border-top: solid 2px #9b6bcc;
}

.funny-boxes-top-purple:hover {
  border-top-color: #814fb5;
}

/*Orange Left Bordered Funny Box**/
.funny-boxes-left-orange {
  border-left: solid 2px #e67e22;
}

.funny-boxes-left-orange:hover {
  border-left-color: #d35400;
}

/*Green Left Bordered Funny Box**/
.funny-boxes-left-green {
  border-left: solid 2px #72c02c;
}

.funny-boxes-left-green:hover {
  border-left-color: #5fb611;
}

/*Blue Left Bordered Funny Box**/
.funny-boxes-left-blue {
  border-left: solid 2px #3498db;
}

.funny-boxes-left-blue:hover {
  border-left-color: #2980b9;
}

/*Dark Left Bordered Funny Box**/
.funny-boxes-left-dark {
  border-left: solid 2px #555;
}

.funny-boxes-left-dark:hover {
  border-left-color: #333;
}
.funny-boxes .funny-boxes-img img {
    margin: 5px 10px 15px 0;
}
/*Funny Boxes
------------------------------------*/
.funny-boxes {
  background: #f7f7f7;
  padding: 20px 20px 15px;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

.funny-boxes h2 a {
  color: #555;
}

.funny-boxes p a {
  color: #72c02c;
}

.funny-boxes .funny-boxes-img li {
  font-size: 12px;
  margin-bottom: 2px;
}

.funny-boxes .funny-boxes-img li i {
  color: #72c02c;
  font-size: 12px;
  margin-right: 5px;
}

@media (max-width: 992px) {
  .funny-boxes .funny-boxes-img li {
    display: inline-block;
  }
}

.funny-boxes .funny-boxes-img img {
  margin: 5px 10px 15px 0;
}

.funny-boxes ul.funny-boxes-rating li {
  display: inline-block;
}

.funny-boxes ul.funny-boxes-rating li i {
  color: #f8be2c;
  cursor: pointer;
  font-size: 14px;
}

.funny-boxes ul.funny-boxes-rating li i:hover {
  color: #f8be2c;
}
.funny-boxes h2 {
    margin-top: 0;
    font-size: 18px;
    line-height: 20px;
}
.funny-boxes-top-yellow {
    border-top: solid 2px #f1c40f;
}
.blog-page {
  padding-left: 35px;
}
.blog-photos li {
  display: inline;
}
/*第一个子元素不用左留白*/
.blog-photos li img:firdt-child {
    margin: 0 2px;
}
.blog-photos li img {
    width: 58px;
    height: 58px;
    margin: 0 2px 8px;
}
/*Background Light*/
.bg-light { 
   padding: 10px 15px; 
   margin-bottom: 10px; 
   background: #fcfcfc; 
   border: solid 1px #e5e5e5;
}
.bg-light:hover { 
   border: solid 1px #bbb;
}
.hover-effect {
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.hover-effect-kenburn {
   left:10px;
   margin-left:-10px;
   position:relative;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}
.hover-effect-kenburn:hover {
   -webkit-transform: scale(2) rotate(5deg);
   -moz-transform: scale(2) rotate(5deg);
   -o-transform: scale(2) rotate(5deg);
   -ms-transform: scale(2) rotate(5deg);
   transform: scale(2) rotate(5deg);
}

.full-width {
    width: 100%;
}
.rounded-x {
    border-radius: 50% !important;
}
/*News v3
------------------------------------*/
/*News Posts*/
.news-v3 {
  /*background: #fff;*/
}
.news-v3 .news-v3-in {
  padding: 35px 30px;
}

.news-v3 .news-v3-in-sm {
  padding: 20px;
}

.news-v3 h2 {
  font-size: 32px;
  font-weight: 200;
  margin: 0 0 20px;
  line-height: 45px;
  text-transform: uppercase;
}

.news-v3 .news-v3-in-sm h2 {
  font-size: 22px;
  margin: 0 0 15px;
  line-height: 30px;
  text-transform: inherit;
}

@media (max-width: 768px) {
  .news-v3 h2 {
    font-size: 22px;
    line-height: 30px;
  }
}

.news-v3 h2 a {
  color: #555;
}

.news-v3 h2 a:hover {
  color: #72c02c;
  text-decoration: none;
}

.news-v3 p {
  color: #555;
  margin-bottom: 20px;
}

/*News Info*/
.news-v3 .posted-info li {
  color: #555;
  font-style: italic;
}

.news-v3 .news-v3-in-sm .posted-info li {
  padding: 0;
  font-size: 12px;
  padding-left: 5px;
}

.news-v3 .posted-info li:before,
.news-v3 .news-v3-in-sm .posted-info li:before {
  content: '/';
}

.news-v3 .posted-info li:before {
  font-size: 12px;
  line-height: 12px;
  margin-right: 13px;
}

.news-v3 .news-v3-in-sm .posted-info li:before {
  font-size: 11px;
  line-height: 11px;
  margin-right: 9px;
}

.news-v3 .posted-info li:first-child:before,
.news-v3 .news-v3-in-sm .posted-info li:first-child:before {
  content: " ";
  margin-right: 0;
}

.news-v3 .posted-info li a {
  color: #555;
}

.news-v3 .posted-info li a:hover {
  color: #72c02c;
}

/*News Shares*/
.news-v3 .post-shares {
  padding-left: 0;
  list-style: none;
  margin: 40px 0 0 -5px;
}

.news-v3 .news-v3-in-sm .post-shares {
  margin: 20px 0 0 -5px;  
}

.news-v3 .post-shares li {
  position: relative;
  padding: 0 10px 0 5px;
  display: inline-block;
}

.news-v3 .post-shares li i {
  color: #555;
  width: 40px;
  height: 40px;
  padding: 13px;
  font-size: 16px;
  background: #eee;
  text-align: center;
  display: inline-block;
}

.news-v3 .post-shares li i:hover {
  background: #ddd;
}

.news-v3 .post-shares li span {
  top: -5px;
  right: 6px;
  color: #fff;
  width: 22px;
  height: 22px;
  padding: 4px;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  background: #72c02c;
  border: 2px solid #fff;
  border-radius: 50% !important;
}

.news-v3 .post-shares-lg li span {
  top: -10px;
  right: 0px;
  width: 29px;
  height: 29px;
  padding: 4px;
  font-size: 10px;
  line-height: 16px;
}
/*Footer-v1
------------------------------------*/
/*Latest List*/
.latest-list li {
  padding: 8px 0;
  border-top: 1px solid #353535;
  color: #eee;
}

.latest-list li:first-child {
  padding-top: 0;
  border-top: none;
}

.latest-list li a {
  color: #eee;
  text-decoration:none
}
/*Link List*/
.link-list li {
  border-top: solid 1px #353535;
}

.link-list li:first-child {
  border-top: none !important;
}

.link-list a {
  color: #eee;
  font-size: 11px;
  padding: 6px 0px;
  display: inline-block;
  text-transform: uppercase;
}

.link-list li i {
  color: #bbb;
  float: right;
  margin-top: 10px;
}

.footer-v1 .footer {
    padding: 40px 0;
    background: #272727;
}

.footer-v1 .footer h2 {
  color: #eee;
  font-size: 18px;
  font-weight: 200;
}

@media (max-width: 991px) {
  .footer-v1 .copyright,
  .footer-v1 .footer-socials {
    text-align: left;
  }
}

/*Blog Posts
------------------------------------*/ 
.posts .dl-horizontal a {
  color: #555;
}

.posts .dl-horizontal { 
  margin-bottom: 15px;
  overflow: hidden;
}

.posts .dl-horizontal dt { 
  width: 60px; 
  float: left;
}

.posts .dl-horizontal dt img { 
  width: 60px; 
  height: 60px;
  padding: 2px;
  margin-top: 2px; 
  border: solid 1px #ddd;
}

.posts .dl-horizontal dd { 
  margin-left: 70px;
}

.posts .dl-horizontal dd p { 
  margin: 0;
}

.posts .dl-horizontal dd a {
  font-size: 14px;
  line-height: 16px !important; 
}

.posts .dl-horizontal dd a:hover { 
  color: #72c02c; 
  text-decoration: none;
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a { 
  color: #72c02c;
  border-color: #72c02c !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*Blog Page*/
.blog h2 {
  color: #555;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 10px;
}

.blog h2 a {
  color: #585f69;
  line-height: 32px;
}

.blog h2 a:hover {
  color: #72c02c;
  text-decoration: none;
}

.blog .blog-img { 
  margin: 20px 0;
}

.headline-md {
  margin-top: 9px;
}

/*Blog Content Tags*/
.blog-post-tags {
  padding: 5px 0 8px;
  margin-bottom: 10px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.blog-post-tags ul {
  margin-bottom: 0;
}

.blog-post-tags li {
  font-size: 12px;
}

.blog-post-tags li i {
  color: #777;
}

.blog-post-tags ul.blog-info {
  color: #eee;
  margin-bottom: 3px;
}

.blog-post-tags ul.blog-tags a {
  color: #555;
  font-size: 11px;
  display: inline;
  padding: 3px 7px;
  margin-right: 2px;
  background: #f4f4f4;
}

.blog-post-tags ul.blog-tags a:hover {
  background: #72c02c;
}

/*Blog Item Page
------------------------------------*/
.blog-item .media img {
  top: 3px;
  width: 54px;
  height: 54px;
  position: relative;
}

.post-comment h3,
.blog-item .media h3 {
  color: #72c02c;
  font-size: 21px;
  margin-bottom: 25px;
}

.blog-item .media h4.media-heading {
  color: #555;
  font-size: 17px;
  position: relative;
}

.blog-item .media h4.media-heading span {
  top: 3px; 
  right: 0;
  color: #777;
  font-size: 12px;
  position: absolute;
}

.blog-item .media h4.media-heading span a {
  color: #72c02c;
}

.sky-form {
  margin: 0;
  outline: none;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
  color: #666;
}
.sky-form header {
  display: block;
  padding: 20px 30px; 
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: rgba(248,248,248,.9);
  font-size: 25px;
  font-weight: 300;
  color: #232323;
}
.sky-form fieldset {
  display: block; 
  padding: 25px 30px 5px;
  border: none;
  background: rgba(255,255,255,.9);
}
.sky-form fieldset + fieldset {
  border-top: 1px solid rgba(0,0,0,.1);
}
.sky-form section {
  margin-bottom: 20px;
}
.sky-form footer {
  display: block;
  padding: 15px 30px 25px;
  border-top: 1px solid rgba(0,0,0,.1);
  background: rgba(248,248,248,.9);
}
.sky-form footer:after {
  content: '';
  display: table;
  clear: both;
}
.sky-form a {
  color: #2da5da;
}
.sky-form .label {
  display: block;
  margin-bottom: 6px;
  line-height: 19px;
  font-weight: 400;
}
.sky-form .label.col {
  margin: 0;
  padding-top: 10px;
}
.sky-form .note {
  margin-top: 6px;
  padding: 0 1px;
  font-size: 11px;
  line-height: 15px;
  color: #999;
}
.sky-form .input,
.sky-form .select,
.sky-form .textarea,
.sky-form .radio,
.sky-form .checkbox,
.sky-form .toggle,
.sky-form .button {
  position: relative;
  display: block;
}
.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 39px;
  padding: 6px 10px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  background: #fff;
  font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #404040;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.sky-form .progress {
  float: right;
  margin-top: 10px;
  line-height: 39px;
  color: #232323;
}
.sky-form button::-moz-focus-inner {
  padding: 0;
  border: 0;
}


/**/
/* captcha inputs */
/**/
.sky-form .input-captcha img {
  position: absolute;
  top: 2px;
  right: 2px;
  border-left: 1px solid #e5e5e5;
}


/**/
/* file inputs */
/**/
.sky-form .input-file .button {
  position: absolute;
  top: 4px;
  right: 4px;
  float: none;
  height: 31px;
  margin: 0;
  padding: 0 20px;
  font-size: 13px;
  line-height: 31px;
}
.sky-form .input-file .button:hover {
  box-shadow: none;
}
.sky-form .input-file .button input {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
}


/**/
/* selects */
/**/
.sky-form .select i {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 28px;
  height: 35px;
  background: #fff;
  pointer-events: none;
}
.sky-form .select i:after,
.sky-form .select i:before {
  content: '';
  position: absolute;
  right: 10px;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.sky-form .select i:after {
  bottom: 12px;
  border-top: 4px solid #404040;
}
.sky-form .select i:before {
  top: 12px;
  border-bottom: 4px solid #404040;
}
.sky-form .select select {
  padding-right: 28px;
}
.sky-form .select-multiple select {
  height: auto;
}


/**/
/* textareas */
/**/
.sky-form .textarea textarea {
  height: auto;
  resize: none;
}
.sky-form .textarea-resizable textarea {
  resize: vertical; 
}
.sky-form .textarea-expandable textarea {
  height: 39px;
}
.sky-form .textarea-expandable textarea:focus {
  height: auto;
}


/**/
/* radios and checkboxes */
/**/
.sky-form .radio,
.sky-form .checkbox {
  margin-bottom: 4px;
  padding-left: 27px;
  font-size: 15px;
  line-height: 27px;
  color: #404040;
  cursor: pointer;
}
.sky-form .radio:last-child,
.sky-form .checkbox:last-child {
  margin-bottom: 0;
}
.sky-form .radio input,
.sky-form .checkbox input {
  position: absolute;
  left: -9999px;
}
.sky-form .radio i,
.sky-form .checkbox i {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 13px;
  height: 13px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  background: #fff;
}
.sky-form .radio i {
  border-radius: 50%;
}
.sky-form .radio input + i:after,
.sky-form .checkbox input + i:after {
  position: absolute;
  opacity: 0;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.sky-form .radio input + i:after {
  content: '';
  top: 4px;
  left: 4px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.sky-form .checkbox input + i:after {
  content: '\f00c';
  top: -1px;
  left: -1px;
  width: 15px;
  height: 15px;
  font: normal 12px/16px FontAwesome;
  text-align: center;
}
.sky-form .radio input:checked + i:after,
.sky-form .checkbox input:checked + i:after {
  opacity: 1;
}
.sky-form .inline-group {
  margin: 0 -30px -4px 0;
}
.sky-form .inline-group:after {
  content: '';
  display: table;
  clear: both;
}
.sky-form .inline-group .radio,
.sky-form .inline-group .checkbox {
  float: left;
  margin-right: 30px;
}
.sky-form .inline-group .radio:last-child,
.sky-form .inline-group .checkbox:last-child {
  margin-bottom: 4px;
}


/**/
/* toggles */
/**/
.sky-form .toggle {
  margin-bottom: 4px;
  padding-right: 61px;
  font-size: 15px;
  line-height: 27px;
  color: #404040;
  cursor: pointer;
}
.sky-form .toggle:last-child {
  margin-bottom: 0;
}
.sky-form .toggle input {
  position: absolute;
  left: -9999px;
}
.sky-form .toggle i {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  display: block;
  width: 49px;
  height: 17px;
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;
  background: #fff;
}
.sky-form .toggle i:after {
  content: 'OFF';
  position: absolute;
  top: 2px;
  right: 8px;
  left: 8px;
  font-style: normal;
  font-size: 9px;
  line-height: 13px;
  font-weight: 700;
  text-align: left;
  color: #5f5f5f;
}
.sky-form .toggle i:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 4px;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  opacity: 1;
  -ms-transition: right 0.2s;
  -moz-transition: right 0.2s;
  -webkit-transition: right 0.2s;
}
.sky-form .toggle input:checked + i:after {
  content: 'ON';
  text-align: right;
}
.sky-form .toggle input:checked + i:before {
  right: 36px;
}


/**/
/* ratings */
/**/
.sky-form .rating {
  margin-bottom: 4px;
  font-size: 15px;
  line-height: 27px;
  color: #404040;
}
.sky-form .rating:last-child {
  margin-bottom: 0;
}
.sky-form .rating input {
  position: absolute;
  left: -9999px;
}
.sky-form .rating label {
  display: block;
  float: right;
  height: 17px;
  margin-top: 5px;
  padding: 0 2px;
  font-size: 17px;
  line-height: 17px;
  cursor: pointer;
}


/**/
/* buttons */
/**/
.sky-form .button {
  float: right;
  height: 39px;
  overflow: hidden;
  margin: 10px 0 0 20px;
  padding: 0 25px;
  outline: none;
  border: 0;
  font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.sky-form .button-uploading {
  position: relative;
  color: transparent;
  cursor: default;
}
.sky-form .button-uploading:after {
  content: 'Uploading...';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  -o-animation: blink 1s linear infinite;
  -ms-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite; 
  -webkit-animation: blink 1s linear infinite;
}
@-o-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-ms-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-moz-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-webkit-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}


/**/
/* icons */
/**/
.sky-form .icon-append,
.sky-form .icon-prepend {
  position: absolute;
  top: 5px;
  width: 29px;
  height: 29px;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
}
.sky-form .icon-append {
  right: 5px;
  padding-left: 3px;
  border-left-width: 1px;
  border-left-style: solid;
}
.sky-form .icon-prepend {
  left: 5px;
  padding-right: 3px;
  border-right-width: 1px;
  border-right-style: solid;
}
.sky-form .input .icon-prepend + input,
.sky-form .textarea .icon-prepend + textarea {
  padding-left: 46px;
}
.sky-form .input .icon-append + input,
.sky-form .textarea .icon-append + textarea {
  padding-right: 46px;
}
.sky-form .input .icon-prepend + .icon-append + input,
.sky-form .textarea .icon-prepend + .icon-append + textarea {
  padding-left: 46px;
}


/**/
/* grid */
/**/
.sky-form .row {
  margin: 0 -15px;
}
.sky-form .row:after {
  content: '';
  display: table;
  clear: both;
}
.sky-form .col {
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.sky-form .col-1 {
  width: 8.33%;
}
.sky-form .col-2 {
  width: 16.66%;
}
.sky-form .col-3 {
  width: 25%;
}
.sky-form .col-4 {
  width: 33.33%;
}
.sky-form .col-5 {
  width: 41.66%;
}
.sky-form .col-6 {
  width: 50%;
}
.sky-form .col-7 {
  width: 58.33%;
}
.sky-form .col-8 {
  width: 66.67%;
}
.sky-form .col-9 {
  width: 75%;
}
.sky-form .col-10 {
  width: 83.33%;
}
.sky-form .col-11 {
  width: 91.66%;
}
@media screen and (max-width: 600px) {
  .sky-form .col {
    float: none;
    width: 100%;
  }
}


/**/
/* tooltips */
/**/
.sky-form .tooltip {
  position: absolute;
  z-index: 1;
  left: -9999px;
  padding: 2px 8px 3px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  background: rgba(0,0,0,0.9);
  color: #fff;
  opacity: 0;
  -ms-transition: margin 0.3s, opacity 0.3s;
  -moz-transition: margin 0.3s, opacity 0.3s;
  -webkit-transition: margin 0.3s, opacity 0.3s;
}
.sky-form .tooltip:after {
  content: '';
  position: absolute;
}
.sky-form .input input:focus + .tooltip,
.sky-form .textarea textarea:focus + .tooltip {
  opacity: 1; 
}

.sky-form .tooltip-top-right {
  bottom: 100%;
  margin-bottom: 15px;
}
.sky-form .tooltip-top-right:after {
  top: 100%;
  right: 16px;  
  border-top: 4px solid rgba(0,0,0,0.9);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.sky-form .input input:focus + .tooltip-top-right,
.sky-form .textarea textarea:focus + .tooltip-top-right {
  right: 0;
  left: auto;
  margin-bottom: 5px;
}

.sky-form .tooltip-top-left {
  bottom: 100%;
  margin-bottom: 15px;
}
.sky-form .tooltip-top-left:after {
  top: 100%;
  left: 16px;
  border-top: 4px solid rgba(0,0,0,0.9);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.sky-form .input input:focus + .tooltip-top-left,
.sky-form .textarea textarea:focus + .tooltip-top-left {
  right: auto;
  left: 0;
  margin-bottom: 5px;
}

.sky-form .tooltip-right {
  top: 9px;
  white-space: nowrap;
  margin-left: 15px;
}
.sky-form .tooltip-right:after {
  top: 6px;
  right: 100%;
  border-top: 4px solid transparent;
  border-right: 4px solid rgba(0,0,0,0.9);
  border-bottom: 4px solid transparent;
}
.sky-form .input input:focus + .tooltip-right,
.sky-form .textarea textarea:focus + .tooltip-right {
  left: 100%;
  margin-left: 5px;
}

.sky-form .tooltip-left {
  top: 9px;
  white-space: nowrap;
  margin-right: 15px;
}
.sky-form .tooltip-left:after {
  top: 6px;
  left: 100%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid rgba(0,0,0,0.9);
}
.sky-form .input input:focus + .tooltip-left,
.sky-form .textarea textarea:focus + .tooltip-left {
  right: 100%;
  left: auto;
  margin-right: 5px;
}

.sky-form .tooltip-bottom-right {
  top: 100%;
  margin-top: 15px;
}
.sky-form .tooltip-bottom-right:after {
  bottom: 100%;
  right: 16px;  
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(0,0,0,0.9);
  border-left: 4px solid transparent;
}
.sky-form .input input:focus + .tooltip-bottom-right,
.sky-form .textarea textarea:focus + .tooltip-bottom-right {
  right: 0;
  left: auto;
  margin-top: 5px;
}

.sky-form .tooltip-bottom-left {
  top: 100%;
  margin-top: 15px;
}
.sky-form .tooltip-bottom-left:after {
  bottom: 100%;
  left: 16px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(0,0,0,0.9);
  border-left: 4px solid transparent;
}
.sky-form .input input:focus + .tooltip-bottom-left,
.sky-form .textarea textarea:focus + .tooltip-bottom-left {
  right: auto;
  left: 0;
  margin-top: 5px;
}


/**/
/* normal state */
/**/
.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea,
.sky-form .radio i,
.sky-form .checkbox i,
.sky-form .toggle i,
.sky-form .icon-append,
.sky-form .icon-prepend {
  border-color: #e5e5e5;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
}
.sky-form .toggle i:before {
  background-color: #2da5da;  
}
.sky-form .rating label {
  color: #ccc;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}
.sky-form .button {
  background-color: #2da5da;
  opacity: 0.8;
  -ms-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
.sky-form .button.button-secondary {
  background-color: #b3b3b3;
}
.sky-form .icon-append,
.sky-form .icon-prepend {
  color: #ccc;
}


/**/
/* hover state */
/**/
.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea,
.sky-form .radio:hover i,
.sky-form .checkbox:hover i,
.sky-form .toggle:hover i,
.sky-form .ui-slider-handle:hover {
  border-color: #8dc9e5;
}
.sky-form .rating input + label:hover,
.sky-form .rating input + label:hover ~ label {
  color: #2da5da;
}
.sky-form .button:hover {
  opacity: 1;
}


/**/
/* focus state */
/**/
.sky-form .input input:focus,
.sky-form .select select:focus,
.sky-form .textarea textarea:focus,
.sky-form .radio input:focus + i,
.sky-form .checkbox input:focus + i,
.sky-form .toggle input:focus + i {
  border-color: #2da5da;
}


/**/
/* checked state */
/**/
.sky-form .radio input + i:after {
  background-color: #2da5da;  
}
.sky-form .checkbox input + i:after {
  color: #2da5da;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
  border-color: #2da5da;  
}
.sky-form .rating input:checked ~ label {
  color: #2da5da; 
}


/**/
/* error state */
/**/
.sky-form .state-error input,
.sky-form .state-error select,
.sky-form .state-error select + i,
.sky-form .state-error textarea,
.sky-form .radio.state-error i,
.sky-form .checkbox.state-error i,
.sky-form .toggle.state-error i,
.sky-form .toggle.state-error input:checked + i {
  background: #fff0f0;
}
.sky-form .state-error + em {
  display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #ee9393;
}
.sky-form .rating.state-error + em {
  margin-top: -4px;
  margin-bottom: 4px;
}


/**/
/* success state */
/**/
.sky-form .state-success input,
.sky-form .state-success select,
.sky-form .state-success select + i,
.sky-form .state-success textarea,
.sky-form .radio.state-success i,
.sky-form .checkbox.state-success i,
.sky-form .toggle.state-success i,
.sky-form .toggle.state-success input:checked + i {
  background: #f0fff0;
}
.sky-form .state-success + em {
  display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #ee9393;
}
.sky-form .note-success {
  color: #6fb679;
}


/**/
/* disabled state */
/**/
.sky-form .input.state-disabled input,
.sky-form .select.state-disabled,
.sky-form .textarea.state-disabled,
.sky-form .radio.state-disabled,
.sky-form .checkbox.state-disabled,
.sky-form .toggle.state-disabled,
.sky-form .button.state-disabled {
  cursor: default;
  opacity: 0.5;
}
.sky-form .input.state-disabled:hover input,
.sky-form .select.state-disabled:hover select,
.sky-form .textarea.state-disabled:hover textarea,
.sky-form .radio.state-disabled:hover i,
.sky-form .checkbox.state-disabled:hover i,
.sky-form .toggle.state-disabled:hover i {
  border-color: #e5e5e5;
}


/**/
/* submited state */
/**/
.sky-form .message {
  display: none;
  color: #6fb679;
}
.sky-form .message i {
  display: block;
  margin: 0 auto 20px;
  width: 81px;
  height: 81px;
  border: 1px solid #6fb679;
  border-radius: 50%;
  font-size: 30px;
  line-height: 81px;
}
.sky-form.submited fieldset,
.sky-form.submited footer {
  display: none;
}
.sky-form.submited .message {
  display: block;
  padding: 25px 30px;
  background: rgba(255,255,255,.9);
  font: 300 18px/27px 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
}
/**/
/* modal */
/**/
.sky-form-modal {
  position: fixed;
  z-index: 1;
  display: none;
  width: 400px;
}
.sky-form-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}


/**/
/* bootstrap compatibility */
/**/
/*
.sky-form *,
.sky-form *:after,
.sky-form *:before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
*/
.sky-form .label {
  border-radius: 0;
  font-size: 100%;
  text-align: left;
  white-space: normal;
  color: inherit;
}
.sky-form .radio,
.sky-form .checkbox {
  font-weight: 400;
}
.sky-form .radio + .radio,
.sky-form .checkbox + .checkbox {
  margin-top: 0;
}
/*custom要覆盖掉前面的设定*/
/*Sky-Forms
------------------------------------*/
/*Contact Style*/
.sky-form.contact-style {
  border: none;
}

/*Comment Style*/
.sky-form.comment-style,
.sky-form.comment-style fieldset {
  padding: 0;
  border: none;
  background: inherit;
}

.sky-form.comment-style input,
.sky-form.comment-style textarea {
  border: none;
}

.sky-form.comment-style input:focus,
.sky-form.comment-style textarea:focus {
  box-shadow: none;
}

/*Comment Style v2*/
.sky-form.comment-style-v2,
.sky-form.comment-style-v2 fieldset {
  padding: 0;
  border: none;
  background: inherit;
}

.sky-form.comment-style-v2 input,
.sky-form.comment-style-v2 textarea {
  border: none;
}

.sky-form.comment-style-v2 input:focus,
.sky-form.comment-style-v2 textarea:focus {
  box-shadow: none;
}

.sky-form.comment-style-v2 .form-control {
  padding: 20px 15px;
}

/*Sky Space*/
.sky-form .sky-space-20 {
  margin-bottom: 20px;
}

.sky-form .sky-space-30 {
  margin-bottom: 30px;
}

/**/
/* defaults */
/**/
.sky-form {
  box-shadow: none;
  border: 1px solid #eee;
}

.sky-form header {
  color: inherit;
  display: block;
  font-size: 20px;
  background: #fff;
  font-weight: 400;
  padding: 8px 30px;
}

.sky-form fieldset.no-padding {
  padding: 0;
}

.sky-form fieldset {
  background: #fff;
}

.sky-form footer {
  background: #fff;
  padding: 15px 30px;
}

.sky-form a {
  color: inherit;
}

.sky-form a.btn-u {
  color: #fff;
}

.sky-form .input input {
  height: 34px;
  padding: 6px 12px;
}

.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea {
  border-width: 1px;
  font-size: 14px;
  color: #404040;
}

.sky-form .select select {
  height: 33px;
  padding: 6px 10px;
}

.sky-form .select-multiple select {
  height: auto;
}

/**/
/* file inputs */
/**/
.sky-form .input-file .button {
  height: 32px;
  top: 1px;
  right: 1px;
}

/**/
/* captcha inputs */
/**/
.sky-form .input-captcha img {
  position: absolute;
  top: 1px;
  right: 1px;
  border-left: 1px solid #e5e5e5;
}


/**/
/* normal state */
/**/
.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea,
.sky-form .radio i,
.sky-form .checkbox i,
.sky-form .toggle i,
.sky-form .icon-append,
.sky-form .icon-prepend {
  border-color: #bbb;
}
.sky-form .toggle i:before {
  background-color: #999;  
}

.sky-form .button {
  background: #72c02c;
}

/**/
/* toggles */
/**/
.sky-form .toggle {
  font-weight: normal;
}

.sky-form .toggle i {
  width: 54px;
  height: 21px;
  border-width: 1px;
}
.sky-form .toggle i:after {
  top: 3px;
}
.sky-form .toggle i:before {
  top: 5px;
  right: 6px;
}

/*(remove Bootstrap 'radio, checkbox' margin-top)
--------------------------------------------------*/
.radio, .checkbox {
  margin-top: 0;
}

/**/
/* radios and checkboxes */
/**/
.sky-form .radio i,
.sky-form .checkbox i {
  width: 17px;
  height: 17px;
  border-width: 1px;
}

.sky-form .checkbox input + i:after {
  top: 2px;
  left: 0;
  font: normal 10px FontAwesome;
}

/**/
/* checked state */
/**/
.sky-form .radio input + i:after {
  top: 5px;
  left: 5px;
  background-color: #999;  
}
.sky-form .checkbox input + i:after {
  color: #999;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
  border-color: #999;  
}
.sky-form .rating input:checked ~ label {
  color: #72c02c; 
}

/**/
/* selects */
/**/
.sky-form .select i {
  top: 14px;
  width: 9px;
  right: 13px;
  height: 6px;
}
.sky-form .select i:after,
.sky-form .select i:before {
  top: 4px;
}
.sky-form .select i:before {
  top: -2px;
  border-bottom: 4px solid #404040;
}

.label-rounded .ui-slider-handle {
  border-radius: 50% !important;
}

/**/
/* icons */
/**/
.sky-form .icon-append,
.sky-form .icon-prepend {
  top: 1px;
  height: 32px;
  font-size: 14px;
  line-height: 33px;
  background: inherit;
}
.sky-form .icon-append {
  right: 1px;
  padding: 0 3px;
  min-width: 34px;
}

.sky-form .icon-prepend {
  left: 6px;
  padding-right: 5px;
}

/**/
/* focus state */
/**/
.sky-form .input input:focus,
.sky-form .select select:focus,
.sky-form .textarea textarea:focus {
  border-color: #bbb;
  box-shadow: 0 0 2px #c9c9c9;  
}

.sky-form .radio input:focus + i,
.sky-form .checkbox input:focus + i,
.sky-form .toggle input:focus + i {
  border-color: #999;
  box-shadow: none;
}

/**/
/* hover state */
/**/
.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea {
  border-color: #999;
}

.sky-form .radio:hover i,
.sky-form .checkbox:hover i,
.sky-form .toggle:hover i,
.sky-form .ui-slider-handle:hover {
  border-color: #999;
}
.sky-form .rating input + label:hover,
.sky-form .rating input + label:hover ~ label {
  color: #72c02c;
}

.sky-form .icon-append,
.sky-form .icon-prepend {
  color: #b3b3b3;
}

/**/
/* disabled state */
/**/
.sky-form .input.state-disabled:hover input,
.sky-form .select.state-disabled:hover select,
.sky-form .textarea.state-disabled:hover textarea,
.sky-form .radio.state-disabled:hover i,
.sky-form .checkbox.state-disabled:hover i,
.sky-form .toggle.state-disabled:hover i {
  border-color: #bbb;
}

/*Button Styles
------------------------------------*/
.btn {
   box-shadow: none;
   border-radius: 0;
}
.btn-u {
   border: 0;
   color: #fff;
   font-size: 14px;
   cursor: pointer;
   font-weight: 400;
   padding: 6px 13px;
   position: relative;
   background: #72c02c;
   white-space: nowrap;
   display: inline-block;
   text-decoration: none;
}
.btn-u:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-u.btn-block {
  text-align: center;
}

a.btn-u {
   /*padding: 4px 13px;*/
   /*vertical-align: middle;*/
}

.btn-u-sm,
a.btn-u-sm {
   padding: 3px 12px;
}

.btn-u-lg,
a.btn-u-lg {
   font-size: 18px;
   padding: 10px 25px;
}

.btn-u-xs,
a.btn-u-xs {
   font-size: 12px;
   padding: 2px 12px;   
   line-height: 18px;
}

/*Button Groups*/
.btn-group .dropdown-menu > li > a {
   padding: 3px 13px;
}

.btn-group > .btn-u, 
.btn-group-vertical > .btn-u {
   float: left;
   position: relative;
}

.btn-group > .btn-u:first-child {
   margin-left: 0;
}

/*For FF Only*/
@-moz-document url-prefix() { 
   .footer-subsribe .btn-u {
      padding-bottom: 4px;
   }
}
@media (max-width: 768px) { 
   @-moz-document url-prefix() { 
      .btn-u {
         padding-bottom: 6px;
      }
   }
}

/*Buttons Color*/
.btn-u:hover, 
.btn-u:focus, 
.btn-u:active, 
.btn-u.active, 
.open .dropdown-toggle.btn-u {
   background: #5fb611;
}
.btn-u-split.dropdown-toggle {
   border-left: solid 1px #5fb611;
}

.btn-u.btn-u-blue {
   background: #3498db;
}
.btn-u.btn-u-blue:hover, 
.btn-u.btn-u-blue:focus, 
.btn-u.btn-u-blue:active, 
.btn-u.btn-u-blue.active, 
.open .dropdown-toggle.btn-u.btn-u-blue {
   background: #2980b9;
}
.btn-u.btn-u-split-blue.dropdown-toggle {
   border-left: solid 1px #2980b9;
}

.btn-u.btn-u-red {
   background: #e74c3c;
}
.btn-u.btn-u-red:hover, 
.btn-u.btn-u-red:focus, 
.btn-u.btn-u-red:active, 
.btn-u.btn-u-red.active, 
.open .dropdown-toggle.btn-u.btn-u-red {
   background: #c0392b;
}
.btn-u.btn-u-split-red.dropdown-toggle {
   border-left: solid 1px #c0392b;
}

.btn-u.btn-u-orange {
   background: #e67e22;
}
.btn-u.btn-u-orange:hover, 
.btn-u.btn-u-orange:focus, 
.btn-u.btn-u-orange:active, 
.btn-u.btn-u-orange.active, 
.open .dropdown-toggle.btn-u.btn-u-orange {
   background: #d35400;
}
.btn-u.btn-u-split-orange.dropdown-toggle {
   border-left: solid 1px #d35400;
}

.btn-u.btn-u-sea {
   background: #1abc9c;
}
.btn-u.btn-u-sea:hover, 
.btn-u.btn-u-sea:focus, 
.btn-u.btn-u-sea:active, 
.btn-u.btn-u-sea.active, 
.open .dropdown-toggle.btn-u.btn-u-sea {
   background: #16a085;
}
.btn-u.btn-u-split-sea.dropdown-toggle {
   border-left: solid 1px #16a085;
}

.btn-u.btn-u-green {
   background: #2ecc71;
}
.btn-u.btn-u-green:hover, 
.btn-u.btn-u-green:focus, 
.btn-u.btn-u-green:active, 
.btn-u.btn-u-green.active, 
.open .dropdown-toggle.btn-u.btn-u-green {
   background: #27ae60;
}
.btn-u.btn-u-split-green.dropdown-toggle {
   border-left: solid 1px #27ae60;
}

.btn-u.btn-u-yellow {
   background: #f1c40f;
}
.btn-u.btn-u-yellow:hover, 
.btn-u.btn-u-yellow:focus, 
.btn-u.btn-u-yellow:active, 
.btn-u.btn-u-yellow.active, 
.open .dropdown-toggle.btn-u.btn-u-yellow {
   background: #f39c12;
}
.btn-u.btn-u-split-yellow.dropdown-toggle {
   border-left: solid 1px #f39c12;
}

.btn-u.btn-u-default {
   background: #95a5a6;
}
.btn-u.btn-u-default:hover, 
.btn-u.btn-u-default:focus, 
.btn-u.btn-u-default:active, 
.btn-u.btn-u-default.active, 
.open .dropdown-toggle.btn-u.btn-u-default {
   background: #7f8c8d;
}
.btn-u.btn-u-split-default.dropdown-toggle {
   border-left: solid 1px #7f8c8d;
}

.btn-u.btn-u-purple {
   background: #9b6bcc;
}
.btn-u.btn-u-purple:hover, 
.btn-u.btn-u-purple:focus, 
.btn-u.btn-u-purple:active, 
.btn-u.btn-u-purple.active, 
.open .dropdown-toggle.btn-u.btn-u-purple {
   background: #814fb5;
}
.btn-u.btn-u-split-purple.dropdown-toggle {
   border-left: solid 1px #814fb5;
}

.btn-u.btn-u-aqua {
   background: #27d7e7;
}
.btn-u.btn-u-aqua:hover, 
.btn-u.btn-u-aqua:focus, 
.btn-u.btn-u-aqua:active, 
.btn-u.btn-u-aqua.active, 
.open .dropdown-toggle.btn-u.btn-u-aqua {
   background: #26bac8;
}
.btn-u.btn-u-split-aqua.dropdown-toggle {
   border-left: solid 1px #26bac8;
}

.btn-u.btn-u-brown {
   background: #9c8061;
}
.btn-u.btn-u-brown:hover, 
.btn-u.btn-u-brown:focus, 
.btn-u.btn-u-brown:active, 
.btn-u.btn-u-brown.active, 
.open .dropdown-toggle.btn-u.btn-u-brown {
   background: #81674b;
}
.btn-u.btn-u-split-brown.dropdown-toggle {
   border-left: solid 1px #81674b;
}

.btn-u.btn-u-dark-blue {
   background: #4765a0;
}
.btn-u.btn-u-dark-blue:hover, 
.btn-u.btn-u-dark-blue:focus, 
.btn-u.btn-u-dark-blue:active, 
.btn-u.btn-u-dark-blue.active, 
.open .dropdown-toggle.btn-u.btn-u-dark-blue {
   background: #324c80;
}
.btn-u.btn-u-split-dark.dropdown-toggle {
   border-left: solid 1px #324c80;
}

.btn-u.btn-u-light-green {
   background: #79d5b3;
}
.btn-u.btn-u-light-green:hover, 
.btn-u.btn-u-light-green:focus, 
.btn-u.btn-u-light-green:active, 
.btn-u.btn-u-light-green.active, 
.open .dropdown-toggle.btn-u.btn-u-light-green {
   background: #59b795;
}
.btn-u.btn-u-split-light-green.dropdown-toggle {
   border-left: solid 1px #59b795;
}

.btn-u.btn-u-dark {
   background: #555;
}
.btn-u.btn-u-dark:hover, 
.btn-u.btn-u-dark:focus, 
.btn-u.btn-u-dark:active, 
.btn-u.btn-u-dark.active, 
.open .dropdown-toggle.btn-u.btn-u-dark {
   background: #333;
}
.btn-u.btn-u-split-dark.dropdown-toggle {
   border-left: solid 1px #333;
}

.btn-u.btn-u-light-grey {
   background: #585f69;
}
.btn-u.btn-u-light-grey:hover, 
.btn-u.btn-u-light-grey:focus, 
.btn-u.btn-u-light-grey:active, 
.btn-u.btn-u-light-grey.active, 
.open .dropdown-toggle.btn-u.btn-u-light-grey {
   background: #484f58;
}
.btn-u.btn-u-split-light-grey.dropdown-toggle {
   border-left: solid 1px #484f58;
}

/*Bordered Buttons*/
.btn-u.btn-brd {
  color: #555;
  /*font-weight: 200;*/
  background: none;
  padding: 5px 13px;
  border: solid 1px transparent;
   -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;
   transition: all 0.1s ease-in-out;   
}
.btn-u.btn-brd:hover {
  background: none;
  border: solid 1px #eee;
}
.btn-u.btn-brd:focus {
  background: none;
}
.btn-u.btn-brd.btn-brd-hover:hover {
   color: #fff !important;
}

.btn-u.btn-brd {
  border-color: #72c02c;
}
.btn-u.btn-brd:hover {
  color: #5fb611;
  border-color: #5fb611;
}
.btn-u.btn-brd.btn-brd-hover:hover {
   background: #5fb611;   
}

.btn-u.btn-brd.btn-u-blue {
  border-color: #3498db;
}
.btn-u.btn-brd.btn-u-blue:hover {
  color: #2980b9;
  border-color: #2980b9;
}
.btn-u.btn-brd.btn-u-blue.btn-brd-hover:hover {
   background: #2980b9;
}

.btn-u.btn-brd.btn-u-red {
  border-color: #e74c3c;
}
.btn-u.btn-brd.btn-u-red:hover {
  color: #c0392b;
  border-color: #c0392b;
}
.btn-u.btn-brd.btn-u-red.btn-brd-hover:hover {
   background: #c0392b;
}

.btn-u.btn-brd.btn-u-orange {
  border-color: #e67e22;
}
.btn-u.btn-brd.btn-u-orange:hover {
  color: #d35400;
  border-color: #d35400;
}
.btn-u.btn-brd.btn-u-orange.btn-brd-hover:hover {
   background: #d35400;
}

.btn-u.btn-brd.btn-u-sea {
  border-color: #1abc9c;
}
.btn-u.btn-brd.btn-u-sea:hover {
  color: #16a085;
  border-color: #16a085;
}
.btn-u.btn-brd.btn-u-sea.btn-brd-hover:hover {
   background: #16a085;
}

.btn-u.btn-brd.btn-u-green {
  border-color: #2ecc71;
}
.btn-u.btn-brd.btn-u-green:hover {
  color: #27ae60;
  border-color: #27ae60;
}
.btn-u.btn-brd.btn-u-green.btn-brd-hover:hover {
   background: #27ae60;
}

.btn-u.btn-brd.btn-u-yellow {
  border-color: #f1c40f;
}
.btn-u.btn-brd.btn-u-yellow:hover {
  color: #f39c12;
  border-color: #f39c12;
}
.btn-u.btn-brd.btn-u-yellow.btn-brd-hover:hover {
   background: #f39c12;
}

.btn-u.btn-brd.btn-u-default {
  border-color: #95a5a6;
}
.btn-u.btn-brd.btn-u-default:hover {
  color: #7f8c8d;
  border-color: #7f8c8d;
}
.btn-u.btn-brd.btn-u-default.btn-brd-hover:hover {
   background: #7f8c8d;
}

.btn-u.btn-brd.btn-u-dark {
  border-color: #555;
}
.btn-u.btn-brd.btn-u-dark:hover {
  color: #333;
  border-color: #333;
}
.btn-u.btn-brd.btn-u-dark.btn-brd-hover:hover {
   background: #333;
}

.btn-u.btn-brd.btn-u-light-grey {
  border-color: #585f69;
}
.btn-u.btn-brd.btn-u-light-grey:hover {
  color: #484f58;
  border-color: #484f58;
}
.btn-u.btn-brd.btn-u-light-grey.btn-brd-hover:hover {
   background: #484f58;
}

.btn-u.btn-brd.btn-u-purple {
  border-color: #9b6bcc;
}
.btn-u.btn-brd.btn-u-purple:hover {
  color: #814fb5;
  border-color: #814fb5;
}
.btn-u.btn-brd.btn-u-purple.btn-brd-hover:hover {
   background: #814fb5;
}

.btn-u.btn-brd.btn-u-aqua {
  border-color: #27d7e7;
}
.btn-u.btn-brd.btn-u-aqua:hover {
  color: #26bac8;
  border-color: #26bac8;
}
.btn-u.btn-brd.btn-u-aqua.btn-brd-hover:hover {
   background: #26bac8;
}

.btn-u.btn-brd.btn-u-brown {
  border-color: #9c8061;
}
.btn-u.btn-brd.btn-u-brown:hover {
  color: #81674b;
  border-color: #81674b;
}
.btn-u.btn-brd.btn-u-brown.btn-brd-hover:hover {
   background: #81674b;
}

.btn-u.btn-brd.btn-u-dark-blue {
  border-color: #4765a0;
}
.btn-u.btn-brd.btn-u-dark-blue:hover {
  color: #324c80;
  border-color: #324c80;
}
.btn-u.btn-brd.btn-u-dark-blue.btn-brd-hover:hover {
   background: #324c80;
}

.btn-u.btn-brd.btn-u-light-green {
  border-color: #79d5b3;
}
.btn-u.btn-brd.btn-u-light-green:hover {
  color: #59b795;
  border-color: #59b795;
}
.btn-u.btn-brd.btn-u-light-green.btn-brd-hover:hover {
   background: #59b795;
}

.btn-u.btn-brd.btn-u-light {
  color: #fff;
  border-color: #fff;
}
.btn-u.btn-brd.btn-u-light:hover {
  border-color: #fff;
}
.btn-u.btn-brd.btn-u-light.btn-brd-hover:hover {
   background: #fff;
   color: #555 !important;
}